.content {
  min-width: 300px;
}

.ds-dialog-spacer {
  flex: 1 1 auto;
}

.images-from-server {
  width: 100%;
  overflow: auto;
  display: block;
  flex-direction: row;

  .image-block {
    float: left;
    display: flex;
    flex-direction: column;
    width: calc((100% / 5) - 40px);
    height: 300px;
    margin: 15px;
    overflow: hidden;
    border: solid 1px #cdcdcd;
    align-items: center;
    justify-content: center;
    padding-top: 10px;

    .checkbox-section {
      height: 10%;
    }

    .image-section {
      height: 90%;
      background-color: #cdcdcd;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }
}
