<div class="blog-page">
  <app-sub-toolbar>
    <div sub-toolbar-left>
      <button mat-raised-button color="primary" (click)="goToRoute('pdf-upload')">PDF UPLOAD</button>
      <button mat-raised-button color="primary" (click)="goToRoute('forum')">FORUM</button>
      <button mat-raised-button color="primary" (click)="goToRoute('blog')">BLOG</button>
    </div>
  </app-sub-toolbar>

  <div class="blog-cards">
    <mat-card class="add-card">
      <div class="glob_ds-card-form" style="min-height: 240px; max-height: 240px; overflow: auto">
        <!--<input class="ds-full-width" type="file" id="files" name="files[]" multiple (change)="handleFileSelect($event)" />-->
        <!--<output style="display: flex; width: 100%; overflow: auto" id="list"></output>-->
      </div>

      <a target="_blank" [href]="pdf?.link">PREVIEW PDF</a>
    </mat-card>
  </div>
</div>
