.blog-page {
  padding-top: 65px;
}

.ds-full-width {
  width: 100%;
  margin-top: 15px;
}

.faq-item {
  border-bottom: solid 1px #cdcdcd;
}

.icon {
  float: right;
  cursor: pointer;
  margin-right: 15px;
}
.ds-spacer {
  flex: 1 1 auto;
}
