<div class="blog-page">
  <app-sub-toolbar>
    <div sub-toolbar-left>
      <button mat-raised-button color="primary" (click)="goToRoute()">BLOG</button>
    </div>
    <div sub-toolbar-right>
      <button mat-raised-button color="primary" (click)="addNewItem()" *ngIf="!addingMode">Add</button>
      <button mat-raised-button color="primary" (click)="saveConfirm()" *ngIf="addingMode">Save</button>
      <button mat-button color="warn" (click)="closeAddingItem()" *ngIf="addingMode">Close</button>
    </div>
  </app-sub-toolbar>

  <div class="blog-cards" *ngIf="!addingMode">
    <mat-list>
      <mat-list-item class="faq-item" *ngFor="let faq of faqs; let i = index">
        <h4>
          {{faq.question}}
        </h4>

        <div class="ds-spacer"></div>
        <div class="icon">
          <mat-icon mat-list-icon matTooltip="Edit" (click)="onEditClicked(faq.id)">mode_edit</mat-icon>
        </div>
        <div class="icon">
          <mat-icon mat-list-icon matTooltip="Remove!" (click)="removeConfirm(faq.id)">clear</mat-icon>
        </div>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="edit-blog" *ngIf="addingMode">
    <mat-card class="add-card">
      <div class="glob_ds-card-form">
        <form>
          <mat-input-container class="ds-full-width">
            <input matInput #faqQuestion maxlength="200" placeholder="Question" name="name" required [(ngModel)]="newFaq.question">
            <mat-hint align="end">{{faqQuestion.value.length}} / 200</mat-hint>
          </mat-input-container>
        </form>

        <quill-editor [(ngModel)]="newFaq.answer" [options]="editorOptions"></quill-editor>
      </div>
    </mat-card>
  </div>
</div>
