<!--<a mat-raised-button [href]="login?.url" color="primary">-->
  <!--Login with Google-->
<!--</a>-->
<!--<md-card class="login-error" *ngIf="login === undefined">-->
  <!--<h1>Server is down or login feature is not working</h1>-->
<!--</md-card>-->

<div>
  <div>
    <mat-input-container class="ds-full-width">
      <input matInput placeholder="Username" name="username" [(ngModel)]="user.username">
    </mat-input-container>
  </div>
  <div>
    <mat-input-container class="ds-full-width">
      <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="user.password">
    </mat-input-container>
  </div>
  <button mat-raised-button color="primary" (click)="userLogin()">LOGIN</button>
</div>
