<div class="blog-page">
  <app-sub-toolbar>
    <div sub-toolbar-left>
      <button mat-raised-button color="primary" (click)="goToRoute('pdf-upload')">PDF UPLOAD</button>
      <button mat-raised-button color="primary" (click)="goToRoute('ads')">ADS</button>
      <button mat-raised-button color="primary" (click)="goToRoute('partners')">PARTNERS</button>
      <button mat-raised-button color="primary" (click)="goToRoute('blog')">BLOG</button>
    </div>
  </app-sub-toolbar>

  <div class="blog-cards">
    <button mat-raised-button color="primary" (click)="updateItem()">UPDATE</button>
    <mat-card class="add-card fix-card" *ngFor="let adSection of ads; let i = index">
      <div class="glob_ds-card-form" style="min-height: 240px; overflow: auto">
        <div>
          <h1>{{adSection?.section}}</h1>
        </div>
        <div>
          <div class="images-from-server">
            <div *ngFor="let ad of adSection.ads; let j = index" class="image-block">
              <div>
                <mat-checkbox [(ngModel)]="ad.active" (change)="ad.active = !$event">Check me!</mat-checkbox>
              </div>
              <div>
                <button mat-raised-button color="primary" (click)="clearImage(i, j)">REMOVE IMAGE</button>
              </div>
              <div>
                <mat-input-container class="ds-full-width">
                  <input matInput placeholder="url to ad" name="link" [(ngModel)]="ad.url">
                </mat-input-container>
              </div>
              <div class="image-section">
                <div class="upload-new">
                  <button mat-raised-button color="primary" (click)="chooseImage(i, j)">CHOOSE AD IMAGE</button>
                </div>
                <img [src]="ad.image" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
