.blog-page {
  padding-top: 65px;
}

.ds-full-width {
  width: 100%;
  margin-top: 15px;
}

.icon {
  float: right;
  cursor: pointer;
}
.ds-spacer {
  flex: 1 1 auto;
}

.images-from-server {
  width: 100%;
  height: 400px;
  overflow: auto;
  display: block;
  flex-direction: row;

  .image-block {
    float: left;
    display: flex;
    flex-direction: column;
    width: calc((100% / 5) - 30px);
    margin: 15px;
    overflow: hidden;
    border: solid 1px #cdcdcd;
    align-items: center;
    justify-content: center;
    padding-top: 10px;

    img {
      margin-top: 15px;
      width: 100%;
    }
  }
}
