<div class="blog-page">
  <app-sub-toolbar>
    <div sub-toolbar-left>
      <button mat-raised-button color="primary" (click)="goToRoute('pdf-upload')">PDF UPLOAD</button>
      <button mat-raised-button color="primary" (click)="goToRoute('forum')">FORUM</button>
      <button mat-raised-button color="primary" (click)="goToRoute('blog')">BLOG</button>
    </div>
    <div sub-toolbar-right>
      <button mat-raised-button color="primary" (click)="addNewItem()" *ngIf="!addingMode">Add</button>
      <button mat-raised-button color="primary" (click)="saveConfirm()" *ngIf="addingMode">Save</button>
      <button mat-button color="warn" (click)="closeAddingItem()" *ngIf="addingMode">Close</button>
    </div>
  </app-sub-toolbar>

  <div class="blog-cards" *ngIf="!addingMode">
    <app-blog-card *ngFor="let blog of blogs" [item]="blog" (onEdit)="onEditClicked($event)" (onRemove)="removeConfirm($event)"></app-blog-card>
  </div>
  <div class="edit-blog" *ngIf="addingMode">
    <mat-card class="add-card">
      <div style="display: flex; flex-direction: row; height: 80vh; overflow: auto">
        <div style="width: 70%; border-right: solid 1px #cdcdcd">

          <mat-tab-group>
            <mat-tab label="TEXT">

              <div class="glob_ds-card-form">
                <form>
                  <mat-input-container class="ds-full-width">
                    <input matInput #blogName maxlength="100" placeholder="Blog title" name="title" required [(ngModel)]="newBlog.title">
                    <mat-hint align="end">{{blogName.value.length}} / 100</mat-hint>
                  </mat-input-container>
                </form>

                <div [froalaEditor] [(froalaModel)]="newBlog.content"></div>
              </div>

            </mat-tab>
            <mat-tab label="IMAGES">

              <div class="glob_ds-card-form">
                <input class="ds-full-width" type="file" id="files" name="files[]" multiple (change)="handleFileSelect($event)" />
                <!--<output style="display: flex; width: 100%; overflow: auto" id="list"></output>-->
                <div class="images-from-server">
                  <div *ngFor="let image of images; let i = index" class="image-block">
                    <mat-checkbox [(ngModel)]="image.checked" (change)="choseImage(i)">Check me!</mat-checkbox>
                    <img [src]="image.path" alt="">
                  </div>
                </div>
              </div>

              <div class="glob_ds-card-form">
                <mat-input-container style="width: 40%">
                  <input matInput placeholder="Image URL" name="name" [(ngModel)]="newImageUrl">
                </mat-input-container>
                <button mat-raised-button color="warn" (click)="addImage()">Add Image</button>
                <mat-list>
                  <mat-list-item *ngFor="let image of newBlog.image; let i = index">
                    {{image}}
                    <div class="ds-spacer"></div>
                    <div class="icon">
                      <mat-icon mat-list-icon matTooltip="Remove!" (click)="removeImage(i)">clear</mat-icon>
                    </div>
                  </mat-list-item>
                </mat-list>
              </div>

            </mat-tab>
          </mat-tab-group>

        </div>
        <div class="glob_ds-card-form" style="width: 30%; height: 100%;">
          <!--<app-ds-selectable-tags [tags]="tags"></app-ds-selectable-tags>-->
          <mat-input-container style="width: 50%">
            <input matInput #tagName maxlength="30" placeholder="Tag name" name="name" [(ngModel)]="newTag">
            <mat-hint align="end">{{tagName.value.length}} / 30</mat-hint>
          </mat-input-container>
          <button mat-raised-button color="warn" (click)="addCategory()">Add Tag</button>
          <mat-list>
            <mat-list-item *ngFor="let category of newBlog.categories; let i = index">
              {{category}}
              <div class="ds-spacer"></div>
              <div class="icon">
                <mat-icon mat-list-icon matTooltip="Remove!" (click)="removeCategory(i)">clear</mat-icon>
              </div>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </mat-card>
  </div>
</div>
