<div class="blog-page">
  <app-sub-toolbar>
    <div sub-toolbar-right>
      <button mat-raised-button color="primary" (click)="addNewItem()" *ngIf="!addingMode">Add</button>
      <button mat-raised-button color="primary" (click)="saveConfirm()" *ngIf="addingMode">Save</button>
      <button mat-button color="warn" (click)="closeAddingItem()" *ngIf="addingMode">Close</button>
    </div>
  </app-sub-toolbar>

  <div class="blog-cards" *ngIf="!addingMode">
    <app-blog-card *ngFor="let blog of blogs | sort" [item]="blog" (onEdit)="onEditClicked($event)" (onRemove)="removeConfirm($event)"></app-blog-card>
  </div>
  <div class="edit-blog" *ngIf="addingMode">
    <mat-card class="add-card">
      <div style="display: flex; flex-direction: row; height: 80vh; overflow: auto">
        <div style="width: 70%; border-right: solid 1px #cdcdcd">

          <mat-tab-group>
            <mat-tab label="TEXT">

              <div class="glob_ds-card-form">
                <div>
                  <mat-checkbox [disabled]="canSetToTopNews()" [(ngModel)]="newBlog.topNews">Top News</mat-checkbox>
                </div>

                <form>
                  <mat-input-container class="ds-full-width" *ngIf="newBlog.topNews">
                    <input matInput #blogSuptitle maxlength="50" placeholder="Blog suptitle" name="suptitle" required [(ngModel)]="newBlog.suptitle">
                    <mat-hint align="end">{{blogSuptitle.value.length}} / 50</mat-hint>
                  </mat-input-container>

                  <mat-input-container class="ds-full-width">
                    <input matInput #blogTitle maxlength="50" placeholder="Blog title" name="title" required [(ngModel)]="newBlog.title">
                    <mat-hint align="end">{{blogTitle.value.length}} / 50</mat-hint>
                  </mat-input-container>

                  <mat-input-container class="ds-full-width">
                    <input matInput #blogSubtitle maxlength="100" placeholder="Blog subtitle" name="subtitle" required [(ngModel)]="newBlog.subtitle">
                    <mat-hint align="end">{{blogSubtitle.value.length}} / 100</mat-hint>
                  </mat-input-container>
                </form>

                <div [froalaEditor] [(froalaModel)]="newBlog.content"></div>
              </div>

            </mat-tab>
            <mat-tab label="IMAGES">

              <div class="glob_ds-card-form">
                <button mat-raised-button color="primary" (click)="chooseImage()">Choose image</button>
              </div>

              <div class="glob_ds-card-form">
                <mat-input-container style="width: 40%">
                  <input matInput placeholder="Image URL" name="name" [(ngModel)]="newImageUrl">
                </mat-input-container>
                <button mat-raised-button color="warn" (click)="addImage()">Add Image</button>
                <mat-list>
                  <mat-list-item *ngFor="let image of newBlog.image; let i = index">
                    {{image}}
                    <div class="ds-spacer"></div>
                    <div class="icon">
                      <mat-icon mat-list-icon matTooltip="Remove!" (click)="removeImage(i)">clear</mat-icon>
                    </div>
                  </mat-list-item>
                </mat-list>
              </div>

            </mat-tab>
          </mat-tab-group>

        </div>
        <div class="glob_ds-card-form" style="width: 30%; height: 100%;">
          <!--<app-ds-selectable-tags [tags]="tags"></app-ds-selectable-tags>-->
          <!--<mat-input-container style="width: 50%">-->
            <!--<input matInput #tagName maxlength="30" placeholder="Tag name" name="name" [(ngModel)]="newTag">-->
            <!--<mat-hint align="end">{{tagName.value.length}} / 30</mat-hint>-->
          <!--</mat-input-container>-->
          <!--<mat-form-field>-->
            <!--<mat-select placeholder="Tags" multiple>-->
              <!--<mat-option *ngFor="let tag of tags" [value]="tag">{{tag}}</mat-option>-->
            <!--</mat-select>-->
          <!--</mat-form-field>-->
          <!--<button mat-raised-button color="warn" (click)="addCategory()">Save</button>-->
          <mat-list>
            <div style="width: 100%" *ngFor="let tag of tags; let i = index">
              <mat-checkbox [(ngModel)]="tag.active">
                {{tag.name}}
              </mat-checkbox>
            </div>

            <!--<mat-list-item *ngFor="let category of newBlog.categories; let i = index">-->
              <!--{{category}}-->
              <!--<div class="ds-spacer"></div>-->
              <!--<div class="icon">-->
                <!--<mat-icon mat-list-icon matTooltip="Remove!" (click)="removeCategory(i)">clear</mat-icon>-->
              <!--</div>-->
            <!--</mat-list-item>-->
          </mat-list>
        </div>
      </div>
    </mat-card>
  </div>
</div>
